html{
	background-image: url("https://seemyownworld.files.wordpress.com/2011/10/night-sky11.jpg");
	background-size: cover;
}
h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #42f45f;
	width: 750px;
	font-size: 65px;
	font-family: "Brush Script MT", cursive;
}
p{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	background-color: #f9f339;
	padding-top: 6px;
	padding-bottom: 5px;
}
#button {
	font-size: 25px;
}