
body{
	  background-color: white;
	  background-image:url("https://images5.alphacoders.com/296/thumb-1920-296627.gif");
	  background-size: cover;	  
}


	#title{
			font-size: 30px;
			color: White;
			font-family: ;
			text-align: center;
			
			
	}
			
			
    .Intro{
		      background-color: white;
			 width: 500px;
			  height: 30px;
			  
	      }
		  
	