h1 {
	text-align: center;
	color: white;
	}
p {
	text-align: center;
	color: white;
}
html {
    background-image: url("http://wallpapercave.com/wp/f2KTKjr.png");
	background-size: cover;
}
#EnterButtonLeft2L{
background-color: black;
color: yellow;
border: white;
text-align: center;
}
#EnterButtonRight2L{
background-color: black;
color: green;
border: white;
text-align: center;
}