body{
  background-color: gray;
 }
p{
margin: 0;
border: 1;
padding: 4;
  padding-left: 10px;
  font-size:30px;
  font-family: monospace;
  color:white;
 }
 #txt{
   color:rgb(255, 204, 102);//text
   background-color: rgb(102, 153, 153);
 }
 #txt:hover{
   color:rgb(102, 153, 153); //text
   background-color: tan;
   font-size: 35px
 }
 img{
   height:300px;
   width:300px;
    }
 div
  {
   text-align: center;
  }
 ul  {
   l  
     margin: 0;
     border: 0;
     padding: 0;
    list-style-type: none;
    text-decoration: none;
  }
li{
    display: inline-inline-flex; //block
    padding: 10px;
    background-color: white;
  }
a{
  color: black;
  font-size: 40px;
  font-family: monospace;
}
li:hover{
  background-color: rgb(80, 80, 80);
}
