
	 
h1{
    color: pink;
	 font-size: 80px;
	font-family: sans-serif;
    }

#f1{
     color: red;
   }
   
body{
     background-color: lightblue;
    } 
	
p{
   color: black;
   font-size: 25px;
 }
 
